<% layout("layouts/boilerplate")%>
    <h1>Edit Date Place</h1>
    <form action="/dateplaces/<%=dateplace._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="dateplace[title]" value="<%=dateplace.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="dateplace[location]" value="<%=dateplace.location%>">
        </div>
        <button>Update Date Place</button>
    </form>
    <a href="/dateplaces/<%= dateplace._id %> ">Back to Date Place</a>