<% layout("layouts/boilerplate")%>
    <form action="/dateplaces" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="dateplace[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="dateplace[location]">
        </div>
        <button>Add Date Place</button>
    </form>
    <a href="/dateplaces">All Date Places</a>