<% layout("layouts/boilerplate")%>
    <h1>
        <%= dateplace.title %>
    </h1>
    <h2>
        <%= dateplace.location %>
    </h2>
    <p>
        <a href="/dateplaces/<%=dateplace._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/dateplaces/<%= dateplace._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/dateplaces">All Date Places</a>
    </footer>